.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.card-container {
  width: fit-content;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: auto;
  justify-content: space-between;
}

#app-login-field {
  margin-left: 1rem;
}

.right-aligned-link {
  color: var(--secondary-color);
  display: flex;
  padding-right: 0.5rem;
  gap: 0.5rem;
  justify-content: right;
  width: 100%;
  a {
    color: var(--secondary-color);
  }
}

.right-aligned {
  margin-left: auto;
}

.logo {
  height: auto;
  width: 80px;
}

.card-style {
  border-radius: 8px;
  padding: 3rem 4rem;
  background-color: var(--secondary-color);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 -2px 4px rgba(0, 0, 0, 0.06);
  h1,
  h2,
  h3,
  h6 {
    color: var(--tertiary-color);
  }
}
