#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  width: 100%;
  box-shadow: 0 -4px 10px -2px rgba(0, 0, 0, 0.2);

  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
}

.separator {
  margin: 0 2rem;
  color: var(--secondary-color);
}
