body {
  overflow-y: auto;
}

mat-sidenav {
  position: fixed;
  top: 5rem;
  bottom: 0;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

mat-nav-list {
  flex-grow: 1;
  overflow-y: auto;
}

.spacer {
  flex-grow: 1;
}

.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.nav-item mat-icon {
  margin-right: 8px;
  font-size: 24px;
  transform: translateY(5px);
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
}

app-header {
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 11;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.router {
  padding: 2.5rem 0;
  margin: auto;
  max-width: 1500px;
  background-color: var(--primary-color);
}

.custom-dropdown {
  position: relative;
}

.dropdown-menu {
  position: fixed;
  top: 4rem;
  right: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 12;
  width: 200px;
  text-align: left;
}

.dropdown-menu a {
  display: block;
  padding: 10px 16px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-copy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  cursor: pointer;
}

.nav-copy mat-icon {
  margin-right: 0.7rem;
  margin-left: 1.2rem;
}

.nav-copy span {
  font-size: 1rem;
  font-weight: 400;
  color: #1a1b1f;
}

@media (max-width: 1650px) {
  mat-sidenav {
    width: 350px;
  }

  .router {
    padding: 2rem;
  }
}
