<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav #sidenav mode="over" opened="false">
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item class="nav-item" routerLink="/my-questions">
          <mat-icon>add_circle</mat-icon>
          Meine Fragen
        </a>
        <a mat-list-item class="nav-item" routerLink="/new-question">
          <mat-icon>add_circle</mat-icon>
          Neue Frage erstellen
        </a>
        <a mat-list-item class="nav-item" routerLink="/my-shows" (click)="closeAll()">
          <mat-icon>folder</mat-icon>
          Meine Shows
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-container">
      <div *ngIf="isDropdownOpen" class="custom-dropdown">
        <div class="dropdown-menu">
          <a routerLink="/passwort" (click)="closeAll()">Passwort ändern</a>
          <a (click)="logout()" (keydown.enter)="logout()" tabindex="0">Abmelden</a>
        </div>
      </div>
      <app-header
        [isDropdownOpen]="isDropdownOpen"
        [isSideBarOpen]="isSideBarOpen"
        [isLoggedIn]="isLoggedIn"
        (toggleSidebarEvent)="toggleSideBar()"
        (toggleDropDownEvent)="toggleDropdown($event)">
      </app-header>
      <div *ngIf="isBackdropVisible" class="backdrop" (click)="closeAll()" (keydown.enter)="closeAll()" tabindex="0"></div>
      <main class="router">
        <router-outlet></router-outlet>
      </main>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
