<div [formGroup]="group" class="flex-column">
  <!-- Email field -->
  <mat-form-field class="form-field" color="primary" appearance="outline">
    <mat-label>Benutzername</mat-label>
    <input matInput placeholder="Benutzername" formControlName="username" />
    @if (group.get('username')!.hasError('required')) {
      <mat-error>Benutzername ist ein Pflichtfeld</mat-error>
    } @else if (group.get('username')!.hasError('minlength')) {
      <mat-error>Der Benutzername muss mindestens 4 Zeichen lang sein</mat-error>
    } @else if (group.get('username')!.hasError('usernameNotRegistered')) {
      <mat-error
      >Dieser Benutzername ist nicht registriert. Bitte erstelle sie erst ein Konto mit
        der E-mail.</mat-error
      >
    } @else if (group.get('username')!.hasError('passwordOrUserNameWrong')) {
      <mat-error>Benutzername oder Passwort ist falsch.</mat-error>
    }
  </mat-form-field>
  <!-- Password field -->
  <mat-form-field
    class="form-field"
    color="primary"
    inputmode="password"
    appearance="outline">
    <mat-label>Passwort</mat-label>
    <input
      matInput
      placeholder="Passwort"
      [type]="hide ? 'password' : 'text'"
      formControlName="password" />
    <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
    <mat-error *ngIf="group.get('password')!.hasError('required')"
    >Passwort ist ein Pflichtfeld</mat-error
    >
    <mat-error *ngIf="group.get('password')!.hasError('minlength')"
    >Das Passwort muss mindestens 8 Zeichen lang sein</mat-error
    >
    <mat-error *ngIf="group.get('password')!.hasError('passwordOrUserNameWrong')"
    >Nutzername oder Passwort ist falsch.</mat-error
    >
  </mat-form-field>
</div>
