/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #810081;
  --secondary-color: white;
  --tertiary-color: #000000;
  --warn-color: #721c24;
  --primary-color-rgb: 72, 93, 88;
}

h1,
h2,
h3,
h6 {
  font-weight: 500 !important;
  color: var(--secondary-color);
}
