name: Build backend-dev Image

on:
  push:
    branches: ["dev"]
    paths:
      - 'backend/**'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Backend
        run: |
          docker build -t ghcr.io/knowker-rempo/knowker-backend-dev:0.1 backend
          docker push ghcr.io/knowker-rempo/knowker-backend-dev:0.1
